<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs')%>

<main id="mainContent" class="p-4 p-md-5">
    <section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>Registered users</h1>
                    <ul class="list-unstyled">
                        <%for (let u in fakedataBase){%>
                         <li><span class="mx-2"><a href="/test/users/<%=fakedataBase[u].uid%>">profile</a></span><%=fakedataBase[u].username%>:<%=fakedataBase[u].password%></li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <a href="/test/register"><button>Register</button></a>
        </div>
    </section>
    <section></section>
    <section></section>
</main>

<%- include('partials/footer.ejs') %>